*{
 margin: 0;
 padding: 0;
}

body{
 background: #CCC;
 font-family: Tahoma;
}


#titulo{
 text-align: center;
}

#titulo h1{
 color: #FFF;
 margin: 0 15px 25px 18px;
}

#contTxt{
 background: blue;
 padding: 10px 8px;
}


.txt{
 border: 1px solid red;
 margin: 14px;
 width: 80%;
}

#primero{
 border-radius: 5px;
 width: 50%;
}

#primero p{
 color: green;
}


#tercero{
 padding: 50px;
}

#tercero p{
 color: yellow;
}
